.input {
  padding: 10px 12px;
  border-radius: 8px;

  background-color: var(--background);
  color: var(--foreground);

  border: 1px solid var(--accent);

  outline: none;
  transition: all 0.2s ease;

  width: 280px;  
  max-width: 280px;

  font-size: 14px;

  &::placeholder {
    color: var(--foreground);
    opacity: 0.6;
  }

  &:hover {
    border-color: var(--accent);
  }

  &:focus {
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  }
}